<div class="tweet" id="tweet-<%= @tweet.id %>">
  <div class="row">
    <div class="col-sm-12" style="text-align: left">
      <a href="users/<%= @tweet.user.id %>"><%= @tweet.user.username %></a>, <%= TimeDifference.between(@tweet.created_at, DateTime.now).humanize %> ago
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="text-align: left">
      <span>  <%= @tweet.message %></span>
    </div>
  </div>
</div>
